<launch>
  <arg name="ugv_id" default="$(optenv UGV_ID 1)"/>
  <arg name="start_chassis" default="true"/>
  <arg name="localization_config" default="$(find five_ugv_uwb_localization)/config/final_localization.yaml"/>
  <arg name="car_mode" default="$(optenv CAR_MODE mini_4wd)"/>
  <arg name="port_name" default="$(optenv UWB_PORT /dev/ttyCH343USB2)"/>
  <arg name="baud_rate" default="921600"/>
  <arg name="enable_logger" default="true"/>
  <arg name="log_root" default="$(optenv FORMATION_WS /home/wheeltec/formation_ws)/logs/uwb"/>

  <group ns="ugv$(arg ugv_id)" if="$(arg start_chassis)">
    <remap from="/ugv$(arg ugv_id)/robot_pose_ekf/odom_combined"
           to="/ugv$(arg ugv_id)/odom_combined"/>
    <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch">
      <arg name="car_mode" value="$(arg car_mode)"/>
    </include>
  </group>
  <include file="$(find five_ugv_uwb_localization)/launch/ugv_deploy.launch">
    <arg name="localization_config" value="$(arg localization_config)"/>
    <arg name="ugv_id" value="$(arg ugv_id)"/>
    <arg name="port_name" value="$(arg port_name)"/>
    <arg name="baud_rate" value="$(arg baud_rate)"/>
    <arg name="enable_logger" value="$(arg enable_logger)"/>
    <arg name="log_root" value="$(arg log_root)"/>
  </include>
</launch>
